<div class="input{{#if className}} {{className}}{{/if}}">
  <input
    class="input__element"
    type="{{ type }}" 
    placeholder="{{ placeholder }}" 
    name="{{ name }}" 
    value="{{value}}">
</div>

