<div class="message-input{{#if className}} {{className}}{{/if}}">
  <input
    class="message-input__element"
    type="{{ type }}" 
    placeholder="{{ placeholder }}" 
    name="{{ name }}" 
    value="{{value}}">
  <div class="search-input__icon"></div>
</div>

