<div class="profile-input">
  <p class="profile-input__title">{{ title }}</p>
  <input
    class="profile-input__element"
    type="{{ type }}" 
    placeholder="{{ placeholder }}" 
    name="{{ name }}" 
    value="{{value}}">
  <div class="profile-input__icon"></div>
</div>

